div{
	padding:5px;
	display:block;
	float:left;
	width:400px;
	margin:0 auto;
	border-width:10px;
	background:red;
	border:solid;
	border-color:#ee050f;
}
.fixed{
	position:fixed;
	bottom:0;
	right:0;
	width:100px;
	background-color:pink;
	color:white;
	font-size:10pt;
	}